html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("../doktor.jpg");
  background-size: cover; 
  background-position: center; 
  color:aliceblue;
}


/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

